.main{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 26%;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  padding: 0 10px 10px 0;
  margin-left: 30px;
}
.info-card{
  padding:20px;
  background-color: #383838;
  display:grid;
  grid-template-rows: min-content;
  margin:auto;
}
.info-card > img{
  inline-size: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
}
.snaps-inline{
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: 1rem;
}
.snaps-inline > *{
  scroll-snap-align: start;
} 
#root {
  margin:  auto;
  text-align: center;
}
/*login*/
.login-form {
  max-width: 300px;
  margin: 40px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form h1 {
  text-align: center;
  font-size: 24px; /* increased font size */
  font-weight: bold; /* made it bolder */
  margin-bottom: 30px; /* moved it down a bit */
}

.login-form label {
  display: block;
  margin-bottom: 5px;
}

.login-form input[type="text"], .login-form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-form button[type="button"] {
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: #fff;
  cursor: pointer;
}

.login-form button[type="button"]:hover {
  background-color: #3e8e41;
}
/*create*/
.create-form {
  max-width: 550px; /* increased width */
  margin: 40px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.create-form h1 {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
}

.create-form label {
  display: block;
  margin-bottom: 5px;
}

.create-form input[type="text"], .create-form input[type="password"], .create-form input[type="email"], .create-form input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.create-form button[type="button"] {
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: #fff;
  cursor: pointer;
}

.create-form button[type="button"]:hover {
  background-color: #3e8e41;
}
.create-div{
  margin-top: 30px;
}
/*Profile */
.profile {
  max-width: 550px;
  margin: 40px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-label {
  display: inline-block;
  width: 30%;
  margin-bottom: 5px;
  text-align: right;
  padding-right: 10px;
}

.profile-input {
  width: 60%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.profile-submit {
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: #fff;
  cursor: pointer;
}

.profile-edit {
  background-color: #3e8e41;
}

.profile-h1 {
  text-align: center;
  font-size: 44px;
  font-weight: bold;
  margin-bottom: 30px;
  padding-left: 10px;
  white-space: normal; /* Add this line */
  overflow: hidden; /* Add this line */
 
}
.profile-pic {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  padding: 10px;
  background-color: white;
  cursor: pointer;
}
.hidden-input {
  display: none;
}
.profile-pic-modal{
  display: block;
  margin: 10px auto;
  max-width: 100%;
  max-height: 300px;
  object-fit: cover;
}
/*Wallet */
.wallet {
  background-color: #f5f5f5;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.wallet-h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: black;
}

.amount-buttons-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.amount-buttons {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.amount-buttons:hover {
  background-color: #444;
}
